@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: 'Open Sans', sans-serif;
	background: url("http://globalmedicalco.com/photos/globalmedicalco/16/80067.jpg");
}
table {
	width: 80%;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	background-color: rgba(232,218,214,0.8);
	border-radius: 10px;
}

.case {
	border: 2px solid black;
	text-align: center;
}

#content {
	height: 80%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.case:hover{
	background-color: rgba(255,53,53,0.8);

}